<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^index\.cgi$ - [L,NE]
RewriteCond %{REQUEST_URI} !^/css/.*$ [NC]
RewriteCond %{REQUEST_URI} !^/js/.*$ [NC]
RewriteCond %{REQUEST_URI} !^/img/.*$ [NC]
RewriteCond %{REQUEST_URI} !^/font/.*$ [NC]
RewriteCond %{REQUEST_URI} !^/test/.*$ [NC]
RewriteCond %{REQUEST_URI} !^/google.*\.html$ [NC]
RewriteRule . /index\.cgi [L,NE]
</IfModule>
